<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header [titulo]="titulo || 'Alerta'"></app-header>

<ion-content>
<ion-button  expand="full" color="primary" (click)="presentAlert()">
  Mostrar Alerta Simple</ion-button>
<ion-button  expand="full" color="secondary" (click)="presentAlertConfirm()">
  Mostrar Alerta Con Opciones</ion-button>
<ion-button  expand="full" color="tertiary" (click)="presentAlertPrompt()">
  Mostrar alerta con Input</ion-button>
</ion-content>